@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --page-h1: 60px;
    --page-h2: 40px;
    --h1: 32px;
    --h2: 26px;
    --h3: 22px;
    --b1: 18px;
    --b2: 16px;
    --b3: 14px;
    --primary-color: #372248;
    --color-red: #A8473D;
    --color-dark-blue: #50678D;
    --color-purple: #40436C;
    --color-light-purple: #9477D199;
    --color-light-grey: #f8f8f8;
}
